<footer>
    <div class="minMax">
        <div class="minMaxImg">
            <img src="../../../assets/icon_temperature_info.png" alt="tempIcon">
        </div>
        <div class="minMaxDetails">
            <div>Min - Max</div>
            <div class="details">{{footerData.main.temp_min}}° - {{footerData.main.temp_max}}°</div>
        </div>
    </div>

    <div class="prescDetails">
        <div class="presImg">
            <img src="../../../assets/icon_precipitation_info.png" alt="tempIcon">
        </div>
        <div class="percent">
            <div>Precipitation</div>
            <div class="details">{{footerData.main.humidity}}%</div>
        </div>
    </div>

    <div class="humidity">
        <div class="humImg">
            <img src="../../../assets/icon_humidity_info.png" alt="tempIcon">
        </div>
        <div class="humidityDetails">
            <div>Humidity</div>
            <div class="details">{{footerData.main.humidity}}%</div>
        </div>
    </div>

    <div class="wind">
        <div class="windImg">
            <img src="../../../assets/icon_wind_info.png" alt="tempIcon">
        </div>
        <div class="windDetails">
            <div>Humidity</div>
            <div class="details">{{footerData.main.humidity}}mph</div>
        </div>
    </div>

    <div class="visibility">
        <div class="visImg">
            <img src="../../../assets/icon_visibility_info.png" alt="tempIcon">
        </div>
        <div class="visibilityDetails">
            <div>Humidity</div>
            <div class="details">{{footerData.main.humidity}}%mph</div>
        </div>
    </div>
</footer>