
<div class="header">
    <div class="searchWeatherLogo">
        <div class="weatherimage">
            <img src="../../../assets/logo_web.png" alt="weatherLogo" >
        </div>
        <form class="searchBar" #form="ngForm" (ngSubmit)="searchData()">
            <input type="text" placeholder="Search City" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
            <span class="pi pi-search search" style="color: #ffffffb8"></span>
        </form>
    </div>

</div>
<div class="tabDate">
    <div class="homeTabs">
        <div class="home" routerLink="home" routerLinkActive="active">Home</div>
        <div class="fav"routerLink="favourite" routerLinkActive="active">Favourite</div>
        <div class="recent"routerLink="recent" routerLinkActive="active">Recent</div>
    </div>
    <div class="dateTime">{{ dateObj | date:'medium' }}</div>
</div>





