{{cityDataDetails()}}
<div class="cityDetails">
    <div class="cityName">
        {{cityData.name}}
    </div>
    <div class="addFav">
        <!-- <i (click)="onHeartFill()" [ngClass]="heartFill ?  'pi pi-heart-fill fillHeart' : 'pi pi-heart nHeart'  "></i> -->
        <i class="pi pi-heart-fill fillHeart" *ngIf="heartFill" (click)="removeFav()"></i>
        <i class="pi pi-heart nHeart" *ngIf="!heartFill"  (click)="addToFav()" ></i>
        <div [ngClass]="heartFill ?  'favText' :'normalText' ">
            {{heartFill ? 'Added to Favourites':'Add to Favourites' }}
        </div>
    </div>

    <div class="cityWeatherDetails">
        <div class="weatherImage">
            <img src={{iconUrl}} alt="weatherImage">
        </div>
        <div class="temperature">{{cityData.main.temp}}°C</div>
        <div class="description">{{cityData.weather[0].description}}</div>
    </div>
</div>
<app-footer [footerData]="cityData"></app-footer>