@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@400;500;700&display=swap');
@import "primeicons/primeicons.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #5d52c7, #92428f);
    margin: 0 10%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}